
@{
    ViewData["Title"] = "Reservation";
    Layout = "_Layout";    
}

<div id="example">
    <div id="team-schedule">
        <h1>Please , create to the reservation</h1>
    </div>
    <div id="app">
          <p>{{ message }}</p>
    </div>

</div>

<script>
    new Vue({
        el: '#app',
        data: {
        message: 'Hello Vue.js!'
  }
})
</script>