
@{
    ViewData["Title"] = "Product Search";
    Layout = "_Layout";    
}

<div id="example">
    <div id="team-schedule">
        <h1>Please , Search somethings by Product name </h1>
    </div>

</div>